@themeColor:#006dee;

.frmgrid {
    background-color: #fff;
    padding: 0 1rem;
  
    > .title {
      display: flex;
      align-items: center;
      background-color: #fff;
      border-top: 1px solid #f8f8f8;
      padding: 0.8rem 0rem;
      .title-left {
        flex: 1;
        justify-content: flex-start;
        display: flex;
        align-items: center;
  
        .icon {
          width: 0.2rem;
          height: 1rem;
        }
  
        .title {
          font-weight: 600;
          margin-left: 0.3rem;
        }
      }
    }
  
    .field {
      display: block;
      > .item {
        border-top: 1px solid #f8f8f8;
        padding: 0.3rem 0rem;
        display: flex;
        .item-left {
          width: 5rem;
          display: flex;
          align-items: center;
          justify-content: flex-start;
          .title {
            color: #b7b7b7;
          }
        }

        .item-middle{
          display: flex;
          align-items: center;
          justify-content: flex-start;
          flex: 1;
          overflow: hidden;
          text-align: left;
        }

        .item-right{
          display: flex;
          align-content: flex-end;
          align-items: center;
        }
      }

    }
  
    input {
      outline: none;
      background: transparent;
      border: none;
      outline: medium;
      font-size: 1rem;
      height: 2rem;
      width: 100%;
      padding: 0 .2rem;
    }
}


.radiobox
{

  input{
    // display: none;
  }

.item img{
  height: 2rem;
  width: 2rem;


}
}

