@import './variables.scss';

body {
  font-family: 'Segoe UI','Lucida Grande',Helvetica,Arial,'Microsoft YaHei',FreeSans,Arimo,'Droid Sans','wenquanyi micro hei','Hiragino Sans GB','Hiragino Sans GB W3',FontAwesome,sans-serif !important;

  height: 100%;

  background: #fff;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

label {
  font-weight: 700;
}

html {
  box-sizing: border-box;
  height: 100%;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  text-decoration: none;

  color: inherit;
}

div:focus {
  outline: none;
}

.clearfix {
  &:after {
    font-size: 0;

    display: block;
    visibility: hidden;
    clear: both;

    height: 0;

    content: ' ';
  }
}

.primary-color-font {
  color: $primaryColor;
}

.mint-cell {
  .mint-cell-wrapper {
    background-position: bottom;
    background-size: 120% 1px !important;
  }
}

.mint-cell:last-child {
  .mint-cell-wrapper {
    background-size: 120% 0 !important;
  }
}

.mint-toast {
  z-index: 9999;
}

.lm-header-big {
  .bg-title {
    font-size: 25px;

    color: $primaryColor;
  }

  .sm-title {
    font-size: 16px;

    padding: 10px 0;

    color: #949494;
  }
}

img[src=''] {
  opacity: 0;
}

.mint-popup-1{
  width: 80%;
  height: 130px;
  border-radius: 8px;
  padding: 10px;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
}
